doctype html
html(lang='en')
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(href="/public/orders/app.css?timestamp=#{timestamp}", rel="stylesheet")
  body
      script(src="/public/orders/vendor.js?timestamp=#{timestamp}")
      form#form.boxed.col-md-offset-1.col-md-10.form-margin
          include ./partial/alert.jade
          h3 Оформление заказа
          .col-md-6
              table.table.table-hover.list
                  thead
                      tr
                          th Изображение
                          th Название
                          th Описание
                          th Цена за единицу
                          th Количество
                  tbody
                      each item, index in basketItems
                          tr
                              td
                                  img(src='#{item.product.image}', width='100px', height='auto')
                              td #{item.product.name}
                              td #{item.product.description}
                              td #{parseFloat(item.price_per_unit).toFixed(2)}
                              td #{item.quantity}
          .col-md-6
              .form-group
                  label
                      | Электронная почта:
                      span.text-danger  *
                  input.form-control(type='email', name='email', placeholder='Введите электронную почту')
              .form-group
                  label
                      | ФИО:
                      span.text-danger  *
                  input.form-control(type='text', name='name', placeholder='Введите ФИО')
              .form-group
                  label
                      | Телефон:
                      span.text-danger  *
                  input#telephone.form-control(type='text', name='telephone', placeholder='(ХХХ) ХХ ХХ ХХХ')
              .form-group
                  label Комментарий:
                  textarea.form-control(name='comment', rows='5', placeholder='Комментарий')
              .form-inline
                  .form-group
                      label Промо код:
                      input(type='text', name='promo_code')
              .text-warning.text-uppercase.pull-right
                  b
                      | Итоговая цена:
                      span#total
              br
              .text-danger.small.pull-right *Поля обязательные для заполнения
              br

          input.btn.pull-right(type='submit', value='Офомить')

          input(type='hidden', name="basketItems", value='#{JSON.stringify(basketItems)}')
          input(type='hidden', name="currency", value='#{JSON.stringify(currency)}')

      include ./partial/message.jade
      script(src="/public/ajax.js")
      script(src="/public/orders/js/basket.js")
