doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    if id_confirm
      meta(name="interkassa-verification" content=id_confirm)
    link(href="/public/client/app.css?timestamp=#{timestamp}", rel="stylesheet")
  body(class=designClass)
    #app-container
  //script(src="/public/clientLog.js")
  script(src="/public/client/vendor.js?timestamp=#{timestamp}")
  script(src="/public/client/build.js?timestamp=#{timestamp}")

  script(type='text/javascript').
    window.onmessage = function (e) {

      var data = JSON.parse(e.data);
      var parent = window.parent;
      var cookie = window.document.cookie;
      var obj = {};

      cookie.split(';').map(function (item) {

        var res = item.split('=');
        obj[res[0].replace(' ', '')] = res[1];

      });

      switch (data.method) {
        case 'get':
          var result = obj[data.key];
          parent.postMessage({method: 'get', key: data.key, data: result}, "*");
          break;
      }
    }
