doctype html
html(lang='en')
  head
    title
        | Заказ № #{order.id}
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(href="/public/client/app.css?timestamp=#{timestamp}", rel="stylesheet")
  body(class=designClass)
      div
                  .panel.panel-default.col-md-10.col-md-offset-1.form-margin
                      div
                          h1.text-danger.title
                              | Оплата заказа
                          .content-step.row
                              .order-num.title.col-md-12
                                  h3 Заказ № #{order.id}
                              .col-md-12
                                  h2 Варианты оплаты:
                              .col-md-12
                                  ul#container.nav.nav-pills.col-md-12.mb-15
                              .col-md-9.description.hide.mb-15#description
                              .col-md-4#paymentBlock
                                  if payments.interkassa
                                    include ./payments/interkassa.jade
                                  if payments.yandex
                                    include ./payments/yandex.jade
                                  if payments.liqpay
                                    include ./payments/liqpay.jade
                                  if payments.paypal
                                    include ./payments/paypal.jade


      input.form-control(type='hidden', name='payments', value='#{JSON.stringify([payments])}')
      input.form-control(type='hidden', name='paymentSettings', value='#{JSON.stringify([paymentSettings])}')
      input.form-control(type='hidden', name='order', value='#{JSON.stringify([order])}')

      script(src="/public/client/vendor.js?timestamp=#{timestamp}")
      script(src="/public/ajax.js")
      script(src="/public/orders/js/paymentSettings.js")
      script(src="/public/orders/js/payment.js")
