doctype html
html(lang='en')
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(href="/public/client/app.css?timestamp=#{timestamp}", rel="stylesheet")
  body(class=designClass)
    script(src="/public/client/vendor.js?timestamp=#{timestamp}")
    .col-sm-12.clearfix.pricing-box
      ul.clearfix.price-list
        each tariff, id in Object.keys(tariffs)
            li(class="price_col#{id} price_col price_col_blue col-md-4", data-tariff='#{tariff}')
              .price_item
                .price_col_head
                  tariff
                  .price(class='#{currentTariff.name == tariff ? "" : "total"}') #{currentTariff.name == tariff ? "Осталось " + currentTariff.daysToEnd + " дней" : tariffs[tariff].prices[0].price + " руб"}
                .price_col_body.clearfix
                  .price_body_inner
                    .price_body_top
                      span тариф
                      strong #{tariffs[tariff].name}
                      span.per-month #{tariffOutput[tariff]}
                      br
                      span
                      .line
                    .form-inline
                      .form-group
                        .input-group-addon Срок:
                        div
                          select.select(name="tariff", id='#{id}')
                            each priceObj, index in tariffs[tariff].prices
                              option(selected = currentTariff.name == tariff ? currentTariff.duration == priceObj.time : index == 0, value="#{JSON.stringify(priceObj)}") #{priceObj.time}
                        .input-group-addon месяцев
                    ul.description
                      each description in tariffs[tariff].description
                        li #{description}
                      each off_description in tariffs[tariff].off_description
                        li.line-through #{off_description}
                      each limitation in tariffs[tariff].limitation
                        li.text-danger #{limitation}
                .payment.hide
                    form.yandex(method='POST', action='{yandex.action}')
                        input(type='hidden', name='receiver', value='#{yandex.receiver}')
                        input(type='hidden', name='formcomment', value='#{yandex.formcomment}')
                        input(type='hidden', name='short-dest', value='#{yandex.formcomment}')
                        input(type='hidden', name='label', value='#{currentTariff.name == tariff ? currentTariff.name + "::" + currentTariff.duration + "::" + user.id : tariff + "::" + tariffs[tariff].prices[0].time + "::" + user.id}')
                        input(type='hidden', name='targets', value='#{yandex.targets}')
                        input(type='hidden', name='quickpay-form', value='donate')
                        input(type='hidden', name='sum', value='#{yandex.sum}', data-type='number')
                        input.btn.btn-danger(type='submit', value='Яндекс')

                    form.interkassa(method='POST', action='https://sci.interkassa.com/', enctype='utf-8')
                        input(name='ik_co_id', type='hidden', value='{interkassa.ik_co_id}')
                        input(name='ik_pm_no', type='hidden', value='{interkassa.ik_pm_no}')
                        input(name='ik_am', type='hidden', value='{interkassa.ik_am}')
                        input(name='ik_cur', type='hidden', value='{interkassa.ik_cur}')
                        input(name='ik_desc', type='hidden', value='{interkassa.ik_desc}')
                        input(name='ik_ia_u', type='hidden', value='{interkassa.ik_ia_u}')
                        input(name='ik_ia_m', type='hidden', value='{interkassa.ik_ia_m}')
                        input.btn.btn-danger(type='submit', value='Интеркасса')

      //input#userId(type='hidden', value='#{user.id}')
      script(src="/public/client/js/tariffPayment.js")