doctype html
html(lang='en')
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(href="/public/orders/app.css?timestamp=#{timestamp}", rel="stylesheet")
  body
      div
          form.panel.panel-default.col-md-10.col-md-offset-1.form-margin.boxed(action='#{formSettings.action}' method='#{formSettings.method}')
              .panel-body
                  .text-danger.title Оформление заказа
                  .col-md-6
                      img.img-responsive.img-thumbnail.image(src='#{product.image}')
                      .field
                          b Название:
                          |  #{product.name}
                      .field
                          b Цена:
                          |  #{product.price + ' ' + currency.name}
                      .description.image
                          b Описание:
                          |  #{product.description}
                  if product.delivery.length
                      .col-md-6
                          .description.boxed
                              div
                                  div
                                      span
                                          b Условия доставки:
                                      span#condition
                                  div
                                      span
                                          b Цена:
                                      span#price
                              .form-group
                                  select#sell.form-control(name='condition', onchange='onChange(this.selectedIndex, {product})')
                                      each del in product.delivery
                                          option=del.condition
                  .col-md-6
                      .form-group
                          label
                              | Электронная почта:
                              span.text-danger  *
                          input.form-control(type='email', name='email', placeholder='Введите электронную почту')
                      .form-group
                          label
                              | ФИО:
                              span.text-danger  *
                          input.form-control(type='text', name='name', placeholder='Введите ФИО')
                      .form-group
                          label
                              | Телефон:
                              span.text-danger  *
                          input#telephone.form-control(type='text', name='telephone', placeholder='(ХХХ) ХХ ХХ ХХХ')
                      .form-group
                          label Комментарий:
                          textarea.form-control(name='comment', rows='5', placeholder='Комментарий')
                      .form-inline
                          .form-group
                              label Промо код:
                              input(type='text', name='promo_code')
                      .text-warning.text-uppercase.pull-right
                          b Итоговая цена:#{total + ' ' + currency.name}
                      br
                      .text-danger.small.pull-right *Поля обязательные для заполнения
                      br
                  input.form-control(type='hidden', name='product', value='#{JSON.stringify([product])}')
                  button.btn.btn-danger.btn-lg.pull-right.btn-order(type='submit') Оформить
  script.
     function onChange(index, e) {
     var product = JSON.parse(e.product.value)[0];
     document.getElementById('condition').innerHTML = product.delivery[index].condition;
     document.getElementById('price').innerHTML = product.delivery[index].price;
     }

     window.onload = function (e) {
         debugger
         var product = JSON.parse( document.getElementsByName('product')[0].value )[0];
         document.getElementById('condition').innerHTML = product.delivery[0].condition;
         document.getElementById('price').innerHTML = product.delivery[0].price;
     };
