
form#interkassa.hide(name='payment', method='post', action='https://sci.interkassa.com/', enctype='utf-8')
    input(name='ik_co_id', type='hidden', value='#{payments.interkassa.ik_co_id}')
    input(name='ik_pm_no', type='hidden', value='#{payments.interkassa.ik_pm_no}')
    input(name='ik_am', type='hidden', value='#{payments.interkassa.ik_am}')
    input(name='ik_cur', type='hidden', value='#{payments.interkassa.ik_cur}')
    input(name='ik_desc', type='hidden', value='#{payments.interkassa.ik_desc}')
    input(name='ik_ia_u', type='hidden', value='#{payments.interkassa.ik_ia_u}')
    input(name='ik_ia_m', type='hidden', value='#{payments.interkassa.ik_ia_m}')
    input(name='ik_suc_u', type='hidden', value='#{payments.interkassa.ik_suc_u}')
    input(name='ik_suc_m', type='hidden', value='#{payments.interkassa.ik_suc_m}')
    input.btn.btn-danger.btn-lg.mb-15(type='submit', value='Оплатить')