html
  head
      meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
      link(href="/public/orders/app.css?timestamp=#{timestamp}", rel="stylesheet")
  body(class=designClass)
    script(src="/public/client/vendor.js?timestamp=#{timestamp}")
    .app
        .row
            .table-wrapper
                .table-head
                    span.title
                        | Пользователи
                        form(action='#{action + "/admin/out?_method=DELETE"}' method="POST" encType="application/x-www-form-urlencoded")
                            input(type="hidden", name="_method", value="DELETE")
                            button.btn.btn-default
                                span Выход
                                span.glyphicon.glyphicon-log-out

                table.table.table-hover.list
                    thead
                        tr
                            td Логин
                            td ФИО
                            td Электронная почта
                            td Тип
                            td Активность
                            td Тариф
                            td Дата выбора/оплаты
                            td Оплата тарифа
                            td Зайти под пользователем
                            td Удалить

                    tbody
                        each u in users
                            tr
                                td #{u.login}
                                td #{u.name}
                                td #{u.email}
                                td #{u.type == 'client' ? 'клиент' : 'партнер'}
                                td
                                    form(action='#{action + "/admin/user?_method=PUT"}' method="POST" encType="application/x-www-form-urlencoded")
                                        input(type="hidden", name="_method", value="PUT")
                                        input(type="hidden", name="id", value='#{u.id}')
                                        input(type="hidden", name="active", value='#{!u.active}')
                                        if u.active
                                            button.glyphicon.glyphicon-ok-circle.btn.btn-default.btn-action
                                        else
                                            button.glyphicon.glyphicon-ban-circle.btn.btn-danger.btn-action

                                td
                                    if u.type === 'client'
                                        span.text-danger #{u.tariff_name ? '' : 'тариф не выбран'}
                                        form(action='#{action + "/admin/user/tariff?_method=PUT"}' method="POST" encType="application/x-www-form-urlencoded")

                                            input(type="hidden", name="_method", value="PUT")
                                            input(type="hidden", name="id", value="#{u.id}")

                                            select.form-control(name="tariff_name", onchange="this.form.submit()")
                                                option(selected = !u.tariff_name, disabled = true) Выберите тариф
                                                each t in tariff_names
                                                    option(value = '#{t}', selected = u.tariff_name == t) #{tariffs[t].name}

                                            select.form-control(name="tariff_duration", onchange="this.form.submit()")
                                                each price in tariffs[u.tariff_name || 'start'].prices
                                                    option(selected=u.tariff_duration == price.time) #{price.time}

                                td
                                    if u.type === 'client'
                                        .text-center #{u.tariff_date ? new Date(u.tariff_date).toLocaleString("ru") : '-'}
                                td
                                    if u.type === 'client'
                                        form(action='#{action + "/admin/user/tariff?_method=PUT"}' method="POST" encType="application/x-www-form-urlencoded")
                                            input(type="hidden", name="_method", value="PUT")
                                            input(type="hidden", name="id", value='#{u.id}')
                                            input(type="hidden", name="tariff_payed", value='#{!u.tariff_payed}')
                                            if u.tariff_payed
                                                button.glyphicon.glyphicon-ok-circle.btn.btn-default.btn-action
                                            else
                                                button.glyphicon.glyphicon-ban-circle.btn.btn-danger.btn-action
                                td
                                    form(action='#{action + "/admin/" + u.type + "/login"}' method="POST" encType="application/x-www-form-urlencoded")
                                        input(type="hidden", name="id", value='#{u.id}')
                                        button.btn.btn-default.glyphicon.glyphicon-log-in
                                td
                                    form(action='#{action + "/admin/user?_method=DELETE"}' method="POST" encType="application/x-www-form-urlencoded")
                                        input(type="hidden", name="_method", value="DELETE")
                                        input(type="hidden", name="id", value='#{u.id}')
                                        button.btn.btn-danger.btn-action.pull-right.glyphicon.glyphicon-remove



            div
                ul.pagination.pull-right
                    if currentPage != 1
                        li
                            a(href='?page=#{currentPage - 1}', aria-label='Previous')
                                span(aria-hidden='true') «

                    - var count = 1
                    while count <= pages
                        li
                            a.page-numbers(href='?page=#{count}') #{count++}
                    if currentPage != pages
                        li
                            a(href='?page=#{(+currentPage) + (+1)}', aria-label='Next')
                                span(aria-hidden='true') »


